/.idea
/.gradle
/local.properties
/build
/*/fabric.properties
/*/SyamtabFileUploaderLog.txt
/*/build
*.apk
*.iml

# Eclipse project files
.classpath
.project
/.settings

# OSX files
.DS_Store
.DS_Store?

# Windows thumbnail db
ehthumbs.db
Thumbs.db

# OS-specific files
._*
.Spotlight-V100
.Trashes

# Log Files
*.log

#mybuild.gradle
app/mybuild.gradle
app/mybuildscript.gradle